body,html{
    height: 100%;
    margin: 0;
    padding: 0 ;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(79deg, rgba(2,0,36,1) 0%, rgba(187,131,199,1) 75%, rgba(41,1,99,1) 78%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-attachment: fixed;  }
 .header span #title{
    padding-top:3cm ;
}
.nav{
    margin-left: 25%;
    background-color: #110336;
    width: 800px;
    height: 20vh;
    margin-top: 5vh;
    padding-top:50px;
    font-family: poppins;
    display: flex;
    /* max-width: 500px; */

    justify-content:space-evenly;
    border-radius: 9px;
    transition: width 0.8s ease;
}
@media (max-width: 1000px) {
  .nav {
    /* Styles specific to screens with a maximum width of 768px or less */
    flex-direction: column;
    align-items: center;
    /* transform: scale(0.8); */
    width: 70%;
    padding-left: 8px;
    margin-left: 2cm;
    padding-top: 5px;
    height: 55vh;
  }
  .header{
    margin-bottom: 4rem;
  }
   span #title{
    font-size: small;
    padding-bottom: 10px;
    margin-bottom: 90px;
    margin-top: 0cm;
  }
  input{

    width: 5rem;
  }
  .footer{
    margin: 0%;
    font-size: large;
  }

}

.nav #output{
    margin-left: 50px;
    border: 10px ;
    border-radius: 10px;
    width: fit-content;
    
}
.header{
    margin-top: 3cm;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-family: Ubuntu;
    text-align: center;
    height: 4vh;
       
}
input{
  
    height: 1cm;
    width:4cm ;
    border: 5px solid;
    border-color: rgb(189, 197, 182);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}
button{
    width: 5cm;
    height: 1cm;
    border: rgb(112, 114, 112) solid;
    border-radius: 10px;
    margin-top: 10px;
    }
button #select{
    width: 5vh;
    margin-left: 1cm;
}
button:hover{
    cursor: pointer;
}
.dropbtn {
    height: 1.1cm;
    background-color: #05305e;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border-radius: 10px ;
    font-family: poppins;
    padding-bottom: 30px;
  }
  .dropbtn:hover{
    background-color: #05305e;
  }
  
  .dropdown {
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: 1cm;
    height: 80px;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content > button{
    background: #05305e;
    font-size: 1rem;
    color: white;
  }
  #output{
    font-size: 1.5rem;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:#05305e;}

  .footer {
    margin-top:2vh
    color: white;
    font-family: Ubuntu;
    font-size: xx-large;
    padding-top:2.5cm;
    margin-left: 40%;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
  